---
http_interactions:
- request:
    method: get
    uri: https://api.groupme.com/v3/groups/group_id/messages?limit=100&token=token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Ms-Cv:
      - pshCBAekx5kkivb7
      X-Gm-Service:
      - authproxy-internal
      - gm-message
      X-Region:
      - aws
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":65,"messages":[{"attachments":[],"avatar_url":"https://i.groupme.com/1248x1872.jpeg.c261f00f6849406d8d0832c009e8dad6","created_at":1590106986,"favorited_by":[],"group_id":"59829109","id":"159010698668572867","name":"Anthony
        Moffa","sender_id":"590117","sender_type":"user","source_guid":"android-4b0df4e5-063c-49e4-a1fe-fb42b918df2a","system":false,"text":"Okey
        doke","user_id":"590117","platform":"gm"},{"attachments":[],"avatar_url":"https://i.groupme.com/480x360.gif.521561b9edc145e691d94e1e24342ae6","created_at":1590106880,"favorited_by":[],"group_id":"59829109","id":"159010688081872512","name":"Noah
        Guilmet","sender_id":"590119","sender_type":"user","source_guid":"android-ca9fed0f-0111-4ea4-aff6-6178ba38c770","system":false,"text":"My
        power just surged. Be back in a minute ","user_id":"590119","platform":"gm"},{"attachments":[],"avatar_url":"https://i.groupme.com/1518x2[...]
