.group-list {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__header {
    background-color: #e5f1f6;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
  }

  &__item {
    margin-top: 2rem;

    .links {
      display: flex;
      flex-direction: column;

      a {
        padding: 0.25rem;
      }
    }

    img {
      border-radius: 100%;
      height: 5rem;
      object-fit: cover;
      width: 5rem;
    }
  }
}
